:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}


body, html {
  background-color: rgb(255, 255, 230);
  margin:0;
  padding:0;
}

html {
  background-color: rgb(220, 208, 240,);
}

.homepage {
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  width: 70%;
  color: rgb(209, 123, 246);
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.homeInfo {
  /* margin-left: 120px; */
  font-family: helvetica;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  padding-top: 10px;
  width: 70%;
  margin-top: -200px;
}

.contactInfo {
  font-family: helvetica;
  font-size: 24px;
  font-weight:100;
  text-align:center;
  width: 100%;
  padding-top:10px;
  background-color: #ddf3fa;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  height:220px;
}

.nav {
  background-color: rgba(220, 208, 240, 1);
  color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  height: 60px;
  font-family: "Trebuchet MS", Tahoma, sans-serif;
  padding-top: 0;
  padding-left: 0;
  margin-top: 0;
  margin-left: 0;
  border-radius: 5px;
  /* position: fixed; */
  width:100%;
  top:0;
  left:0;
  position: fixed;
  z-index: 1000;
}


.nav ul {
  padding: 8px;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}


/* nav li {
  padding: 10;
} */


.nav a {
  color: blueviolet; /* White text color */
  text-decoration: none;
  font-size: 26px;
  height: 100%;
  align-items: center;
  padding: 0.25rem;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* White glow text shadow */
}

.nav a:hover{
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 2px #c5c5c5, 0 0 40px #f692fafb, 0 0 5px #dadadf;
}

/* .searchBG{
  /* add image later */
/* }  */

.searchBar {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 600px;
  top: 2%;
  background: rgba(39, 35, 35, 0.2);
  display: flex;
  align-items: center;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px #feffff;
}


.searchInput{
  background: transparent;
  width: 500px;
  flex: 1;
  border: none;
  outline: none;
  padding: 15px 20px;
  font-size: 20px;
  color: white;
  
}
  ::placeholder{
    color: white;
}

.searchBtn{
  padding: 10px 20px;
  border: 0;
  border-radius: 50%;
  background: none;
  color: white;
}

.searchBtn:hover{
  font-size: 20px;
  cursor: pointer;
  transition: 500ms;
}


.storeContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* row-gap: 10px; */
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.searchError{
  position: absolute;
  margin-top: 60px;
  margin-left: 50px;
  top: 0;
  left: 0;
  font-size: 20px;
  color: white;
  font-family: helvetica;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #332e31, 0 0 40px #010101, 0 0 50px #dadadf, 0 0 60px #2674cd, 0 0 70px #01fcf8;
}

.productCard{
  text-align: center;
  backface-visibility: hidden;
  transition: transform 1s ease;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border: 1px dotted #80808084; 
  height:520px;
  width: 320px;
  color:black;
  font-family: Verdana;
  box-shadow: 0 0 5px #feffff;
}

.productCard h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
}

.productCard h4 {
  display: flex;
  text-align: left;
  font-weight: 100;
  padding-left: 5px;
}

.productCard img {
  
  width: 200px;
  height: 200px;
  object-fit: cover;
  box-shadow: 0 0 5px #feffff;
}

.gridWrapper{
  display: flex;
  justify-content: center;
  width: 100%;
 
}